<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.shresta.shrestaapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/shrestaiconlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.activity.SplashScreenActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".activity.activity.TermsAndConditions"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".activity.activity.FourDigitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".activity.activity.RegisterActivity"
            android:parentActivityName=".activity.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="Registration"/>
       <!-- <activity android:name=".Activity.LoginActivity"
            android:label="Shresta"/>-->
        <activity android:name=".activity.activity.OtpActivity"
            android:label="OTP"
            android:parentActivityName=".activity.activity.LoginActivity"/>

        <activity android:name=".activity.activity.DashBoardActivity"
            android:label="DashBoard"/>

        <activity android:name=".activity.activity.AddKeyItemActivity"
            android:parentActivityName=".activity.activity.DashBoardActivity"
            android:label="Add Key Item"/>

    </application>
</manifest>